.footer {
  // min-height: 15vw;
  margin-bottom: 15rem;
  // position: relative;
  &__wrapper {
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  &__left {
    align-self: flex-end;
  }
  &__copyright {
    width: 100%;
    max-width: 50vw;
    // position: absolute;
    // bottom: 1rem;
    // left: 5rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 5rem;
    transform: translateY(10rem);

    // flex-basis: 100%;
  }
  &__right {
    padding-right: 5rem;
  }
  &__nav {
    @extend .more__nav;
  }
  &__square {
    @extend .more__square;
  }
  &__item {
    @extend .more__item;

    &--about {
      @extend .more__item--twitter;
    }
    &--works {
      @extend .more__item--email;
    }
    &--back-up {
      @extend .more__item--linkedin;
      transform: translateY(100%);
    }
  }
}
