.home {
  background-color: $color-primary;
  min-height: 100vh;
  @include section;
  margin-bottom: 10rem;
  border: 1px solid orangered;
  &__main {
    padding: 5rem;
    @media (max-width: $big) {
      padding: 0;
    }
  }

  &__nav {
    background-color: $color-secondary;
    border: 1px solid $color-tertiary;
    padding: 0.2rem 2rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
    @media (max-width: $small) {
      width: 80vw;
    }
    &-list {
      color: $color-tertiary;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    &--name {
      text-transform: uppercase;
      font-weight: 700;
    }
    &--link {
      text-decoration: none;
      color: inherit;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $color-fourth;
      }
    }
  }
  &__main {
    display: flex;

    @media (max-width: $huge) {
      flex-direction: column;
    }
  }
  &__picture-box {
    display: block;
    img {
      @media (max-width: $huge) {
        display: block;
        margin: 0 auto;

        width: 70vw;
        padding: 0;
      }
    }

    // &--left-square {
    // }
    // &--right-square {
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $big) {
      align-items: center;
      padding: 5rem;
    }
    @media (max-width: $small) {
      padding: 0;
    }
  }
  &__title {
    @media (max-width: $small) {
      max-width: 80vw;
    }
    &--part1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-fourth;
      font-weight: 500;
      background-color: $color-secondary;
      border: 1px solid $color-tertiary;

      padding: 0 1.5rem;
      margin: 8rem 0 0 -8rem;

      @media (max-width: $huge) {
        margin: 0;
      }
      @media (max-width: $small) {
        max-width: 80vw;
      }
    }
    &--part2 {
      margin: 2rem auto;
      width: 46rem;
      @media (max-width: $huge) {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0.5rem auto;
      }
      @media (max-width: $small) {
        margin: 0.5rem auto;
      }
    }
    @media (max-width: 1100px) {
      margin-top: 0;
    }
  }
  &__hi {
    // width: 38rem;
    font-weight: normal;
    padding-left: 3rem;
    @media (max-width: $big) {
      margin-top: 3rem;
      padding: 3rem;
    }
    @media (max-width: $huge) {
      padding: 5rem;
    }
  }
  &__btn {
    color: $color-secondary;
    background-color: $color-tertiary;
    font-size: var(--h5);
    border: 1px solid transparent;
    padding-right: 3rem;
    align-self: flex-end;
    &:hover {
      background-color: $color-secondary;
      color: $color-tertiary;
      border: 1px solid $color-tertiary;
    }

    @media (max-width: $huge) {
      margin-top: 5rem;
    }
  }
}
