*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e3e2df;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.5rem 4rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

.home {
  background-color: #e3e2df;
  min-height: 100vh;
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
}

.home__main {
  padding: 5rem;
}

.home__nav {
  background-color: #ffffff;
  border: 1px solid #39393a;
  padding: 0.2rem 2rem;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.home__nav-list {
  color: #39393a;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__nav--name {
  text-transform: uppercase;
  font-weight: 700;
}

.home__nav--link {
  text-decoration: none;
  color: inherit;
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__picture-box {
  display: block;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home__title--part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eb5d3f;
  font-weight: 500;
  font-size: 75px;
  letter-spacing: -0.06em;
  background-color: #ffffff;
  height: 8.1rem;
  border: 1px solid #39393a;
  padding: 0 1.5rem;
  margin: 8rem 0 0 -10rem;
}

.home__title--part2 {
  display: inline-block;
  line-height: 57px;
  margin-top: 2rem;
  width: 46rem;
}

.home__hi {
  width: 38rem;
  font-weight: normal;
}

.home__btn {
  color: #ffffff;
  background-color: #39393a;
  font-size: 2.2rem;
  border: 1px solid transparent;
}

.home__btn:hover {
  background-color: #ffffff;
  color: #39393a;
  border: 1px solid #39393a;
}

.about {
  background-color: #39393a;
  width: 100vw;
  min-height: 100vh;
}

.about__wrapper {
  padding: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
}

.about__picture-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25rem)[2];
      grid-template-columns: repeat(2, 25rem);
  width: 50rem;
  position: relative;
}

.about__picture {
  border: 1px solid #ffffff;
}

.about__picture--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about__picture--2 {
  grid-column: 2/-1;
}

.about__title {
  position: absolute;
  color: #ffffff;
  top: 4rem;
  left: 13rem;
}

.about__text-box {
  margin-top: 10rem;
  color: #e3e2df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text--1, .about__text--2, .about__text--3 {
  font-weight: 300;
}

.about__text--1 {
  margin-left: -5rem;
}

.about__text--2 {
  margin-left: 10rem;
}

.about__text--3 {
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  width: 16rem;
}

.about__text span {
  font-weight: bold;
}

.about__btn {
  margin-left: auto;
  color: #ffffff;
  font-size: 2.2rem;
  border: 1px solid #ffffff;
}

.about__btn:hover {
  background-color: #ffffff;
  color: #39393a;
  border: 1px solid #39393a;
}

.projects {
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  margin-top: 10rem;
}

.projects__title {
  display: inline-block;
  border: 1px solid #39393a;
  font-weight: 300;
  padding: 0 1rem;
}

.projects__box {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__frame {
  border: 1px solid #39393a;
  display: inline-block;
  padding: 2.5rem;
  background-color: #ffffff;
}

.projects__img {
  width: 52rem;
  height: 25rem;
}

.projects__details {
  width: 36rem;
}

.projects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3e2df;
  font-size: 2rem;
  background-color: #39393a;
}

.projects__nav--title {
  padding-left: 5px;
}

.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.projects__icon {
  background-color: #39393a;
  border: none;
  padding: 0 5px;
}

.projects__icon img {
  vertical-align: center;
}

.projects__icon--view {
  padding-top: 5px;
  height: 25px;
}

.projects__icon--github {
  width: 100%;
  padding-top: 5px;
}

.projects__icon-info {
  display: inline-block;
  border: 1px solid #39393a;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 2rem;
}

.projects__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #39393a;
  width: 10rem;
  padding: 0;
  font-size: 1.6rem;
  margin-left: auto;
  color: inherit;
}

.projects__btn:hover {
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */