*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e3e2df;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.5rem 4rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

.home {
  background-color: #e3e2df;
  min-height: 100vh;
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.home__main {
  padding: 5rem;
}

@media (max-width: 768px) {
  .home__main {
    padding: 0;
  }
}

.home__nav {
  background-color: #ffffff;
  border: 1px solid #39393a;
  padding: 0.2rem 2rem;
  font-size: var(--h5);
  margin-bottom: 5rem;
}

@media (max-width: 576px) {
  .home__nav {
    font-size: var(--p);
  }
}

.home__nav-list {
  color: #39393a;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__nav--name {
  text-transform: uppercase;
  font-weight: 700;
}

.home__nav--link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home__nav--link:hover {
  color: #eb5d3f;
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1089px) {
  .home__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home__picture-box {
  display: block;
}

@media (max-width: 1089px) {
  .home__picture-box img {
    display: block;
    margin: 0 auto;
    width: 60vw;
    padding: 0;
    margin-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  .home__picture-box img {
    margin-bottom: 5rem;
  }
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .home__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem;
  }
}

@media (max-width: 576px) {
  .home__content {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .home__title {
    max-width: 80vw;
  }
}

.home__title--part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eb5d3f;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #39393a;
  padding: 0 1.5rem;
  margin: 8rem 0 0 -8rem;
}

@media (max-width: 1089px) {
  .home__title--part1 {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .home__title--part1 {
    max-width: 80vw;
  }
}

.home__title--part2 {
  margin: 2rem auto;
  width: 46rem;
}

@media (max-width: 1089px) {
  .home__title--part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin: 0.5rem auto;
  }
}

@media (max-width: 576px) {
  .home__title--part2 {
    margin: 0.5rem auto;
  }
}

@media (max-width: 1100px) {
  .home__title {
    margin-top: 0;
  }
}

.home__hi {
  font-weight: normal;
  padding-left: 3rem;
}

@media (max-width: 768px) {
  .home__hi {
    margin-top: 3rem;
    padding: 3rem;
  }
}

@media (max-width: 1089px) {
  .home__hi {
    padding: 5rem;
  }
}

@media (max-width: 576px) {
  .home__hi {
    padding: 0;
  }
}

.home__btn {
  color: #ffffff;
  background-color: #39393a;
  font-size: var(--h5);
  border: 1px solid transparent;
  padding-right: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home__btn:hover {
  background-color: #ffffff;
  color: #39393a;
  border: 1px solid #39393a;
}

@media (max-width: 1089px) {
  .home__btn {
    margin-top: 5rem;
  }
}

.about {
  background-color: #39393a;
  width: 100vw;
  min-height: 100vh;
  padding: 10rem 0;
}

.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1089px) {
  .about__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .about__wrapper {
    padding: 0;
  }
}

.about__picture-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25rem)[2];
      grid-template-columns: repeat(2, 25rem);
  width: 50rem;
  position: relative;
}

@media (max-width: 576px) {
  .about__picture-box {
    -ms-grid-columns: (33vw)[2];
        grid-template-columns: repeat(2, 33vw);
    width: auto;
  }
}

.about__picture {
  border: 1px solid #ffffff;
}

@media (max-width: 576px) {
  .about__picture {
    width: 200px;
  }
}

.about__picture--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about__picture--2 {
  grid-column: 2/-1;
}

.about__title {
  position: absolute;
  color: #ffffff;
  top: 4rem;
  left: 13rem;
}

.about__text-box {
  margin-top: 10rem;
  color: #e3e2df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1089px) {
  .about__text-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__text--1, .about__text--2, .about__text--3 {
  font-weight: 300;
}

@media (max-width: 1089px) {
  .about__text--1, .about__text--2, .about__text--3 {
    padding: 5rem 10rem 5rem;
  }
}

@media (max-width: 576px) {
  .about__text--1, .about__text--2, .about__text--3 {
    padding: 5rem 5rem 5rem;
  }
}

.about__text--1 {
  margin-left: -5rem;
}

@media (max-width: 1089px) {
  .about__text--1 {
    margin: 0;
  }
}

.about__text--2 {
  margin-left: 10rem;
}

@media (max-width: 1089px) {
  .about__text--2 {
    margin: 0;
  }
}

.about__text--3 {
  position: absolute;
  bottom: 9rem;
  left: 10rem;
  width: 19rem;
}

@media (max-width: 1089px) {
  .about__text--3 {
    position: static;
    width: 100%;
  }
}

.about__text span {
  font-weight: bold;
}

.about__btn {
  margin-left: auto;
  color: #ffffff;
  font-size: var(--h5);
  border: 1px solid #ffffff;
}

.about__btn:hover {
  background-color: #ffffff;
  color: #39393a;
  border: 1px solid #39393a;
}

@media (max-width: 1089px) {
  .about__btn {
    margin: 5rem 10rem 0 auto;
  }
}

.projects {
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  padding: 10rem 0;
}

.projects__title {
  display: inline-block;
  border: 1px solid #39393a;
  font-weight: 300;
  padding: 0 1rem;
  font-size: var(--h4);
  margin-left: 5rem;
}

.projects__boxes {
  padding: 4rem;
}

.projects__box {
  margin-top: 15rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img img nav' 'img img info' 'img img info' 'img img btn';
  grid-column-gap: 5rem;
}

@media (max-width: 1089px) {
  .projects__box {
        grid-template-areas: 'nav nav nav' 'img img img' 'info info info' '. . btn';
    justify-items: center;
    grid-gap: 5rem;
    margin-top: 10rem;
  }
}

.projects__box:nth-child(even) {
      grid-template-areas: 'nav img img' 'info img img' 'info img img' 'btn img img';
}

@media (max-width: 1089px) {
  .projects__box:nth-child(even) {
        grid-template-areas: 'nav nav nav' 'img img img' 'info info info' '. . btn';
  }
}

.projects__img {
  border: 1px solid #bdbdbd;
  display: inline-block;
  padding: 1rem;
  background-color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: img;
  max-width: 800px;
  max-width: 744px;
}

@media (max-width: 1089px) {
  .projects__img {
    width: 70vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.projects__details {
  width: 36rem;
}

.projects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3e2df;
  font-size: var(--h5);
  background-color: #39393a;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  height: 5rem;
  margin-bottom: -3rem;
}

@media (max-width: 1089px) {
  .projects__nav {
    width: 70vw;
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .projects__nav {
    padding: 0;
    width: auto;
  }
}

.projects__nav--title {
  padding-left: 5px;
  line-height: 100%;
}

.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__icon {
  background-color: #39393a;
  border: none;
  padding: 0 5px;
}

@media (max-width: 1089px) {
  .projects__icon {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .projects__icon {
    padding: 0 5px;
  }
}

.projects__icon img {
  vertical-align: center;
}

.projects__icon--view {
  padding-top: 5px;
  height: 25px;
}

.projects__icon--github {
  width: 100%;
  padding-top: 5px;
}

.projects__icon-info {
  display: inline-block;
  border: 1px solid #39393a;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 2rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

@media (max-width: 1089px) {
  .projects__info {
    max-width: 70vw;
  }
}

.projects__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #39393a;
  width: 10rem;
  height: 3rem;
  padding: 0;
  font-size: 1.6rem;
  color: inherit;
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: end;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn;
}

.projects__btn:hover {
  background-color: #ffffff;
}

@media (max-width: 1089px) {
  .projects__btn {
    margin-right: 10vw;
  }
}

.more {
  width: 100vw;
  background-color: #39393a;
  padding: 10rem 0 0 0;
}

.more__wrapper {
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .more__wrapper {
    padding: 5rem 0 5rem 5rem;
    width: 70vw;
  }
}

.more__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .more__box {
    display: block;
  }
}

.more__left {
  width: 50vw;
}

@media (max-width: 768px) {
  .more__left {
    width: auto;
  }
}

.more__title {
  color: #ffffff;
  font-size: var(--h2);
  letter-spacing: -0.06em;
}

@media (max-width: 1089px) {
  .more__title {
    line-height: 105%;
  }
}

.more__info {
  margin-top: 10rem;
  color: #ffffff;
  font-weight: normal;
  width: 100%;
  font-size: var(--h5);
}

@media (max-width: 576px) {
  .more__info {
    margin: 10rem 5rem 0 0;
  }
}

.more__right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -5rem;
}

.more__nav, .footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (min-content)[3];
      grid-template-columns: 1fr repeat(3, -webkit-min-content);
      grid-template-columns: 1fr repeat(3, min-content);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
}

@media (max-width: 576px) {
  .more__nav, .footer__nav {
    -ms-grid-columns: 1fr (min-content)[2];
        grid-template-columns: 1fr repeat(2, -webkit-min-content);
        grid-template-columns: 1fr repeat(2, min-content);
  }
}

.more__square, .footer__square {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.more__square--email {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 576px) {
  .more__square--email {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 3/-1;
  }
}

.more__square--twitter {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 576px) {
  .more__square--twitter {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.more__square--linkedin {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 3/-1;
}

@media (max-width: 576px) {
  .more__square--linkedin {
    grid-column: 3/-1;
    grid-row: 4/-1;
  }
}

.more__item, .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: var(--h5);
  border: 1px solid #ffffff;
  width: 13rem;
  padding: 2rem 0.5rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

@media (max-width: 1089px) {
  .more__item, .footer__item {
    width: 10rem;
    padding: 1.2rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .more__item, .footer__item {
    width: 9rem;
    padding: 0.8rem 0.2rem;
  }
}

.more__item--email, .footer__item--works {
  background-color: #bdbdbd;
  color: #39393a;
}

.more__item--twitter, .footer__item--about {
  background-color: #e3e2df;
  color: #39393a;
}

.more__item--linkedin, .footer__item--back-up {
  color: #ffffff;
  background-color: #39393a;
}

.more__item--email:hover, .footer__item--works:hover, .more__item--twitter:hover, .footer__item--about:hover, .more__item--about:hover, .more__item--works:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.more__item--linkedin:hover, .footer__item--back-up:hover, .more__item--back-up:hover {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.footer {
  margin-bottom: 5rem;
}

.footer__wrapper {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .footer__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 0 5rem 5rem;
  }
}

.footer__left {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 51vw;
}

.footer__copyright {
  width: 100%;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  margin-left: 5rem;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.footer__right {
  margin-left: 10px;
}

.footer__square--back-up {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer__item--back-up:hover {
  border: 1px solid #39393a;
}
/*# sourceMappingURL=main.css.map */