*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #e3e2df; }

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.5rem 4rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s; }

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  margin: 0 auto; }

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0; }

.home {
  background-color: #e3e2df;
  min-height: 100vh;
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  margin-bottom: 10rem;
  border: 1px solid orangered; }
  .home__main {
    padding: 5rem; }
    @media (max-width: 768px) {
      .home__main {
        padding: 0; } }
  .home__nav {
    background-color: #ffffff;
    border: 1px solid #39393a;
    padding: 0.2rem 2rem;
    font-size: 1.6rem;
    margin-bottom: 5rem; }
    @media (max-width: 576px) {
      .home__nav {
        width: 80vw; } }
    .home__nav-list {
      color: #39393a;
      list-style: none;
      display: flex;
      justify-content: space-between; }
    .home__nav--name {
      text-transform: uppercase;
      font-weight: 700; }
    .home__nav--link {
      text-decoration: none;
      color: inherit;
      transition: all 0.2s ease-in-out; }
      .home__nav--link:hover {
        color: #eb5d3f; }
  .home__main {
    display: flex; }
    @media (max-width: 1089px) {
      .home__main {
        flex-direction: column; } }
  .home__picture-box {
    display: block; }
    @media (max-width: 1089px) {
      .home__picture-box img {
        display: block;
        margin: 0 auto;
        width: 70vw;
        padding: 0; } }
  .home__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .home__content {
        align-items: center;
        padding: 5rem; } }
    @media (max-width: 576px) {
      .home__content {
        padding: 0; } }
  @media (max-width: 576px) {
    .home__title {
      max-width: 80vw; } }
  .home__title--part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eb5d3f;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #39393a;
    padding: 0 1.5rem;
    margin: 8rem 0 0 -8rem; }
    @media (max-width: 1089px) {
      .home__title--part1 {
        margin: 0; } }
    @media (max-width: 576px) {
      .home__title--part1 {
        max-width: 80vw; } }
  .home__title--part2 {
    margin: 2rem auto;
    width: 46rem; }
    @media (max-width: 1089px) {
      .home__title--part2 {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0.5rem auto; } }
    @media (max-width: 576px) {
      .home__title--part2 {
        margin: 0.5rem auto; } }
  @media (max-width: 1100px) {
    .home__title {
      margin-top: 0; } }
  .home__hi {
    font-weight: normal;
    padding-left: 3rem; }
    @media (max-width: 768px) {
      .home__hi {
        margin-top: 3rem;
        padding: 3rem; } }
    @media (max-width: 1089px) {
      .home__hi {
        padding: 5rem; } }
  .home__btn {
    color: #ffffff;
    background-color: #39393a;
    font-size: var(--h5);
    border: 1px solid transparent;
    padding-right: 3rem;
    align-self: flex-end; }
    .home__btn:hover {
      background-color: #ffffff;
      color: #39393a;
      border: 1px solid #39393a; }
    @media (max-width: 1089px) {
      .home__btn {
        margin-top: 5rem; } }

.about {
  background-color: #39393a;
  width: 100vw;
  min-height: 100vh;
  padding: 10rem 0; }
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem;
    max-width: 1152px;
    margin: 0 auto;
    position: relative; }
    @media (max-width: 1089px) {
      .about__wrapper {
        grid-template-columns: 1fr; } }
    @media (max-width: 768px) {
      .about__wrapper {
        padding: 0; } }
  .about__picture-box {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    width: 50rem;
    position: relative; }
    @media (max-width: 576px) {
      .about__picture-box {
        grid-template-columns: repeat(2, 33vw);
        width: auto; } }
  .about__picture {
    border: 1px solid #ffffff; }
    .about__picture--1 {
      grid-column: 1/2; }
    .about__picture--2 {
      grid-column: 2/-1; }
  .about__title {
    position: absolute;
    color: #ffffff;
    top: 4rem;
    left: 13rem; }
  .about__text-box {
    margin-top: 10rem;
    color: #e3e2df;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 1089px) {
      .about__text-box {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; } }
  .about__text--1, .about__text--2, .about__text--3 {
    font-weight: 300; }
    @media (max-width: 1089px) {
      .about__text--1, .about__text--2, .about__text--3 {
        padding: 5rem; } }
  .about__text--1 {
    margin-left: -5rem; }
    @media (max-width: 1089px) {
      .about__text--1 {
        margin: 0; } }
  .about__text--2 {
    margin-left: 10rem; }
    @media (max-width: 1089px) {
      .about__text--2 {
        margin: 0; } }
  .about__text--3 {
    position: absolute;
    bottom: 9rem;
    left: 10rem;
    width: 19rem; }
    @media (max-width: 1089px) {
      .about__text--3 {
        position: static;
        width: 100%; } }
  .about__text span {
    font-weight: bold; }
  .about__btn {
    margin-left: auto;
    color: #ffffff;
    font-size: 2.2rem;
    border: 1px solid #ffffff; }
    .about__btn:hover {
      background-color: #ffffff;
      color: #39393a;
      border: 1px solid #39393a; }

.projects {
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  margin: 10rem auto;
  padding: 10rem 0; }
  .projects__title {
    display: inline-block;
    border: 1px solid #39393a;
    font-weight: 300;
    padding: 0 1rem; }
  .projects__box {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1089px) {
      .projects__box {
        flex-direction: column;
        align-items: center; } }
  .projects__frame {
    border: 1px solid #39393a;
    display: inline-block;
    padding: 2.5rem;
    background-color: #ffffff; }
  .projects__img {
    width: 52rem;
    height: 25rem; }
  .projects__details {
    width: 36rem; }
    @media (max-width: 1089px) {
      .projects__details {
        width: 60%;
        margin-top: 5rem; } }
  .projects__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e3e2df;
    font-size: 2rem;
    background-color: #39393a; }
    .projects__nav--title {
      padding-left: 5px; }
  .projects__icons {
    display: flex;
    height: 100%; }
  .projects__icon {
    background-color: #39393a;
    border: none;
    padding: 0 5px; }
    .projects__icon img {
      vertical-align: center; }
    .projects__icon--view {
      padding-top: 5px;
      height: 25px; }
    .projects__icon--github {
      width: 100%;
      padding-top: 5px; }
    .projects__icon-info {
      display: inline-block;
      border: 1px solid #39393a; }
  .projects__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0 2rem; }
  .projects__details {
    display: flex;
    flex-direction: column; }
  .projects__btn {
    display: flex;
    justify-content: center;
    border: 1px solid #39393a;
    width: 10rem;
    padding: 0;
    font-size: 1.6rem;
    margin-left: auto;
    color: inherit; }
    .projects__btn:hover {
      background-color: #ffffff; }

.more {
  width: 100vw;
  background-color: #39393a;
  padding: 10rem 0 0 0; }

.more__wrapper {
  padding: 5rem;
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.more__left {
  width: 50vw; }

.more__title {
  color: #ffffff;
  font-size: 5.2rem;
  letter-spacing: -0.06em; }

.more__info {
  margin-top: 10rem;
  color: #ffffff;
  font-weight: normal;
  width: 100%;
  font-size: 2rem; }

.more__right {
  align-self: flex-end;
  margin-bottom: -5rem; }

.more__nav, .footer__nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, min-content); }

.more__square, .footer__square {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.more__item, .footer__item {
  display: inline-block;
  padding: 21px 11px;
  text-decoration: none;
  font-size: 2.4rem;
  border: 1px solid #ffffff;
  width: 13rem;
  transition: transform 0.2s ease-in-out; }
  .more__item--email, .footer__item--works {
    background-color: #bdbdbd;
    color: #39393a; }
  .more__item--twitter, .footer__item--about {
    background-color: #e3e2df;
    color: #39393a; }
  .more__item--linkedin, .footer__item--back-up {
    transform: translateY(-100%);
    color: #ffffff;
    background-color: #39393a;
    transition: all 0.2s ease-in-out; }
    .more__item--linkedin:hover, .footer__item--back-up:hover {
      background-color: #ffffff;
      color: #39393a; }
  .more__item--email:hover, .footer__item--works:hover, .more__item--twitter:hover, .footer__item--about:hover, .more__item--about:hover, .more__item--works:hover {
    transform: rotate(5deg); }

.footer {
  margin-bottom: 15rem; }
  .footer__wrapper {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between; }
  .footer__left {
    align-self: flex-end;
    width: 51vw; }
  .footer__copyright {
    width: 100%;
    max-width: 50vw;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 5rem;
    transform: translateY(10rem); }
  .footer__right {
    margin-left: 10px; }
  .footer__item--back-up {
    transform: translateY(100%); }
    .footer__item--back-up:hover {
      border: 1px solid #39393a; }
